:root {
	--color-black: #000;
    --color-white: #fff;
    --color-gray: #373737;
    --color-blue: #1782c5;

	--color-text: var(--color-gray);

    --font-family-primary: 'Open Sans', sans-serif;
    --font-family-secondary: 'Barlow', sans-serif;

	--font-size-base: 1em;

    --container-width: 77.5rem;
}

@custom-media --small (min-width: 40em);
@custom-media --medium (min-width: 64em);
@custom-media --large (min-width: 81.5em);