.main {
    background-color: var(--color-white);
    &:before {
        content: '';
        display: block;
        width: 100%;
        height: .5rem;
        background-color: var(--color-blue);
        position: sticky;
        top: 0;
    }
}