.section {
    margin: 2.5rem 0;
}

@media (--small) {
    .section {
        margin: 3rem 0;
    }
}

@media (--medium) {
    .section {
        margin: 4.25rem 0;
    }
}

.section--full {
    padding: 4.25rem 0;
    color: var(--color-white);
}

.section--team {
    background-color: var(--color-gray);
}

.section--stats {
    background-color: var(--color-blue);
}