.section {
    margin: 2.5rem 0;
}

.section__header {
    margin-bottom: 1rem;
}

@media (--small) {
    .section {
        margin: 3rem 0;
    }
    .section__header {
        margin-bottom: 2rem;
    }
}

@media (--medium) {
    .section {
        margin: 4.25rem 0;
    }

    .section--capabilities .capabilities-list {
        margin-top: 3rem;
    }
}

.section--full {
    padding: 4.25rem 0;
    color: var(--color-white);
}

.section--team {
    background-color: var(--color-gray);
}

.section--stats {
    background-color: var(--color-blue);
}