.logo {
    display: block;
    margin-bottom: 1rem;
    width: 7.75rem;
}

.logo-footer {
    display: block;
    margin: 0 auto;
}

@media (--small) {
    .logo {
        margin-bottom: 1.25rem;
    }
}