@import url('https://fonts.googleapis.com/css?family=Barlow:600|Open+Sans:400,700');

body {
    font-family: var(--font-family-primary);
    color: var(--color-text);
}

a {
    color: var(--color-blue);
}

p {
    line-height: 1.6;
}

.text-small {
    font-size: 1rem;
}

@media (--small) {
    p {
        font-size: 1.25rem;
    }
}